* {
    box-sizing: border-box;
}

#tentang {  
    display: block;
    text-align: center;
}

#tentang h1 {
    font-size: 2.25rem;
    line-height: 0.5;
}

#tentang p{
    font-size: 1.125rem;
    width: 40%;
    margin: 0 auto;
}